In [1]:
import pandas as pd
from pathlib import Path

In [2]:
sp500_csv = pd.read_csv(
    Path('../01-Calculating_Returns/sp500_close.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)

In [3]:
sp500_csv

              Adj Close
Date
2014-05-02  1881.140015
2014-05-05  1884.660034
2014-05-06  1867.719971
2014-05-07  1878.209961
2014-05-08  1875.630005
...                 ...
2019-04-25  2926.169922
2019-04-26  2939.879883
2019-04-29  2943.030029
2019-04-30  2945.830078
2019-05-01  2923.729980

[1258 rows x 1 columns]

In [12]:
daily_returns_pct_change = sp500_csv["Adj Close"].pct_change()
daily_returns_pct_change

Date
2014-05-02         NaN
2014-05-05    0.001871
2014-05-06   -0.008988
2014-05-07    0.005616
2014-05-08   -0.001374
                ...
2019-04-25   -0.000369
2019-04-26    0.004685
2019-04-29    0.001072
2019-04-30    0.000951
2019-05-01   -0.007502
Name: Adj Close, Length: 1258, dtype: float64

In [4]:
sp500_csv["Shift_1"] = sp500_csv.shift(1)
sp500_csv

              Adj Close      Shift_1
Date
2014-05-02  1881.140015          NaN
2014-05-05  1884.660034  1881.140015
2014-05-06  1867.719971  1884.660034
2014-05-07  1878.209961  1867.719971
2014-05-08  1875.630005  1878.209961
...                 ...          ...
2019-04-25  2926.169922  2927.250000
2019-04-26  2939.879883  2926.169922
2019-04-29  2943.030029  2939.879883
2019-04-30  2945.830078  2943.030029
2019-05-01  2923.729980  2945.830078

[1258 rows x 2 columns]

In [5]:
daily_returns = (sp500_csv["Adj Close"] - sp500_csv["Shift_1"]) / sp500_csv["Shift_1"]
daily_returns

Date
2014-05-02         NaN
2014-05-05    0.001871
2014-05-06   -0.008988
2014-05-07    0.005616
2014-05-08   -0.001374
                ...
2019-04-25   -0.000369
2019-04-26    0.004685
2019-04-29    0.001072
2019-04-30    0.000951
2019-05-01   -0.007502
Length: 1258, dtype: float64

In [6]:
# Shift 5 days
stock_abc = pd.DataFrame({"close" : [11.25, 11.98, 10.74, 11.16, 12.35, 12.87, 13.03, 13.14, 13.37, 12.99]})
stock_abc

   close
0  11.25
1  11.98
2  10.74
3  11.16
4  12.35
5  12.87
6  13.03
7  13.14
8  13.37
9  12.99

In [7]:
stock_abc["Shift_5"] = stock_abc.shift(5)

In [8]:
stock_abc

   close  Shift_5
0  11.25      NaN
1  11.98      NaN
2  10.74      NaN
3  11.16      NaN
4  12.35      NaN
5  12.87    11.25
6  13.03    11.98
7  13.14    10.74
8  13.37    11.16
9  12.99    12.35

In [9]:
weekly_returns = (stock_abc["close"] - stock_abc["Shift_5"]) / stock_abc["Shift_5"]
weekly_returns

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5    0.144000
6    0.087646
7    0.223464
8    0.198029
9    0.051822
dtype: float64

TypeError: '(slice(None, None, None), 'Adj Close')' is an invalid key